@use "./base.scss";

// put your custom CSS here!

hr {
  margin-top: 0.3rem !important;
  margin-bottom: 0.3rem !important;
}


.graph {
  height: 600px !important;
  margin-bottom: 2rem !important;
}

.graph-outer {
  height: 600px !important;
  margin-bottom: 2rem !important;
}

.graph-outer canvas {
  height: 600px !important;
}

.sidebar.right {
  width: 600px !important;
}

.page-header, .center, .page {
  margin-left: 0 !important;
  padding-left: 2rem !important;
}