@use "./base.scss";

// put your custom CSS here!

hr {
  margin-top: 0.3rem !important;
  margin-bottom: 0.3rem !important;
}


.graph {
  height: 750px !important;
}

.graph-outer {
  height: 750px !important;
  margin-bottom: 0.75rem !important;
}

.graph-outer canvas {
  height: 750px !important;
}

.sidebar.right {
  width: 750px !important;
}